<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ChatRoomDB" value="Data Source=.;Initial Catalog=Chatroom;Integrated Security=True; User ID=JaimePC; password= face15PIER" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>